<!DOCTYPE html>
<html lang="en">
<head>
    <title>registration</title>
</head>
<body>
    <h1> register your account now </h2>
    <form action="/register" method="POST">
        <p> full name </p>
        <input name="fullname" placeholder="enter your full name">

        <p> username </p>
        <input name="username" placeholder="enter your username">

        <p> password </p>
        <input name="password" placeholder="enter your password">
        <button> register </button>
    </form>
    
</body>
</html>